# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=
DATABASE_URL=

# Creem API Configuration
CREEM_API_KEY=

# Site Configuration
NEXT_PUBLIC_SITE_URL=

# Creem Webhook Secret Configuration
CREEM_WEBHOOK_SECRET=

# Creem Product IDs
CREEM_LIFETIME_PRODUCT_ID=
CREEM_SUBSCRIPTION_PRODUCT_ID=